
    <div class="media">
      <a class="pull-left" href="/users/<%= comment.user.id %>">
        <%= image_tag(gravatar_url(comment.user), width: 50, class: "img-circle") %>
      </a>
      <div class="media-body">
        <div class="media-heading">
          <strong><%= link_to full_name_of(comment.user), comment.user %></strong>
        </div> 
        <p>
          <%= comment.content %>
          <br>
          <span class="muted"><%= time_ago_in_words(comment.created_at) %> ago.</span>
          
          <% if current_user == comment.user %>
          <span style="font-size:12px;">
            <%= link_to '삭제', recipe_comment_path(@recipe, comment), method: :delete, remote: true %>  
          </span>
          <% end %>
        </p>
      </div>
    </div>