<div class="main-container">

<script>
  mixpanel.track("Viewed Recipe Form");
</script>


<%= form_for(@recipe) do |f| %>
<!-- Error Message -->  
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h3>
      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- Form -->  
  <div class="input-choice">
    <div class="column1">
      <%= f.label :name, '요리 이름' %>
    </div>
    <div class="column2">
      <%= f.text_field :name, class: 'text-field' %>
    </div>
  </div>

  <div class="input-choice">
    <div class="column1">
      <%= f.label :image, '요리 사진' %>
    </div>
    <div class="column2">
      <%= f.file_field :image, class: 'file-field' %>
    </div>
  </div>

  <div class="input-choice">
    <div class="column1">
      <%= f.label :description, '간략 소개' %>
    </div>
    <div class="column2">
      <%= f.text_area :description, rows: 5  %>
    </div>
  </div>
<hr>
  <div class="input-choice">
    <div class="column1">
      <%= f.label :serving, '몇 인분?' %>
    </div>
    <div class="column2">
      <%= f.number_field :serving, class: 'ingredient-field' %>
    </div>
  </div>

  <div class="input-choice">
    <div class="column1">
      <%= f.label :ingredients, '재료' %>
    </div>
    <div class="column2">
      <%= f.fields_for :ingredients do |builder| %>
      <%= render 'ingredient_fields', f: builder %>
      <% end %>
      <%= link_to_add_fields "<span class='glyphicon glyphicon-plus'></span> 필드 추가하기".html_safe, f, :ingredients %>
    </div>
  </div>

  <div class="input-choice">
    <div class="column1">
      <%= f.label :instructions, '조리법' %>
    </div>
    <div class="column2">
      <%= f.fields_for :instructions do |builder| %>
      <%= render 'instruction_fields', f: builder %>
      <% end %>
      <%= link_to_add_fields "<span class='glyphicon glyphicon-plus'></span> 필드 추가하기".html_safe, f, :instructions %>
    </div>
  </div>


  <div class="input-choice">
    <div class="column1">
      <%= f.label :source, '참고자료' %>
    </div>
    <div class="column2">
      <%= f.text_field :source, class: 'text-field' %>
    </div>
  </div>

  <!-- 태그 autocomplete-field로 처리해야 함 
  <div class="input-choice">
    <div class="column1">
      <%= f.label :tag, '태그' %>
    </div>
    <div class="column2">
      <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) %>
    </div>
  </div>
-->

 <div class="submit-box">
    <%= f.submit '포스트!', class: 'btn btn-danger btn-xlg' %>
  </div>
<% end %>
</div>
