<% @user ||= current_user  %>

<!-- Main Image -->
<section class="teaser">
  <ul class="carousel">
    <li class="responsive-image image-loaded" style="background-image: url(<%= @recipe.image %>);">
    <div class="wrapper">
        <h1><%= @recipe.name %></h1>
        <%= link_to full_name_with_gravatar(@recipe.user), @recipe.user %>
    </div>
  </ul>
</section>

<div style="clear:both"></div>

<div class="wrap rec-heading">

<!--  Description & Tags -->

  <div class="rec-main">
    <div class="archive-subcats">
      <ul>
        <% @recipe.tags.each do |tag| %>
          <li>
            <%= link_to tag.name, tag_path(tag.name), class: is_active?(tag_path(tag.name)) %> 
          </li>
        <% end %>
      </ul>
    </div>
    <p>
      <%= @recipe.description %>
    </p>
  </div>

<!--  Add to Fav -->
  <div class="rec-sidebar">
    <h3>Add to Fav</h3>
      <% if @recipe.fans.any?  %>
      <div class="fans">
        <% @recipe.fans.each do |fan| %>
        <%= image_tag(gravatar_url(fan), width: 50, class: "img-circle")%>
        
      </div>
      <% end  %>
      <% else  %>
      <p>아직 팬이 없습니다.</p>
      <% end %>
      
      <% unless @user.nil? %>
        <% if @user.saved_to_favorites?(@recipe) %>
          <div>
           <%= button_to "저장 취소하기", recipe_favorite_path(@recipe, @current_favorite), method: :delete, class: 'btn btn-lg btn-default' %>
          </div>
          <% else %>
           <div>
           <%= button_to '레시피 저장하기', recipe_favorites_path(@recipe), class: 'btn btn-lg btn-danger' %>
           </div>
          <% end %>
      <% end %>
  </div>

<div class="wrap rec-heading">
  <div class="rec-main">
      <h3>Instructions</h3>
      <p>
        <%= @recipe.method %>
      </p>
      <span style="font-size:16px;">참고 | <%= @recipe.source %></span>
  </div>

  <div class="rec-sidebar">
      <h3>Ingredients</h3>
      <strong>+ <%= @recipe.serving %>인분</strong>
      <% if @recipe.ingredients.any?  %>
      <ul>
        <% @recipe.ingredients.each do |ingredient|  %>
          <li> <%= link_to ingredient.food_item.name, ingredient_path(ingredient.food_item.name) %> 
            <%= ingredient.volume %>
          </li>
        <% end  %>
      </ul>  
    <% end  %>
  </div>
</div>

<% if @user.try(:admin?) %>
    <div class="admin_console">
      <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
      <%= link_to 'Destroy', @recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>

<div class="row">
  <div id="comments_count">
    <h4><%= pluralize(@recipe.comments.count, 'comment') %></h4>
  </div>
</div>

  <% unless @recipe.comments.blank? %>
  <div class="row">
    <div id="comments_list">
      <% @recipe.comments.each do |comment| %>
        <% unless comment.user.blank? %>
      <div class="media" id="comment-id-<%= comment.id %>">
        <a class="pull-left" href="#">
          <%= image_tag(gravatar_url(comment.user), width: 38, class: "img-circle") %>
        </a>
        <div class="media-body">
          <div class="media-heading">
            <strong><%= link_to comment.user.first_name, comment.user %></strong>
          </div> 
          <p>
            <%= comment.content %>
            <span class="muted"><%= time_ago_in_words(comment.created_at) %> ago</span>
            
            <% if @user == comment.user %>
            <span style="font-size:12px;">
              <%= link_to 'Delete', recipe_comment_path(@recipe, comment), method: :delete, remote: true %>  
            </span>
            <% end %>
          </p>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
  <% end %>

 <%= render 'comments/form' %>






