<!DOCTYPE html>
<html>
<head>
  <title>Hailey's Kitchen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<<<<<<< HEAD
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
=======


>>>>>>> 380318632901196acef58479804c6b3ef3a30e3b
</head>
<body>
  <%= render 'layouts/header' %>
    
    	<% if notice %>
  	<p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
		<p class="alert alert-danger"><%= alert %></p>
	<% end %>
	<%= yield %>
    
</body>
</html>
