<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>  
  <%= display_meta_tags site: "Hailey's Kitchen" %>
  <%= display_meta_tags description: "Hailey가 직접 테스트하고 엄선한 최고의 레시피 모음" %>
  <%= display_meta_tags keywords: "레시피, 요리법, 일본식 가정요리, 이탈리안 요리, 파스타" %>
</head>
<body>

  <%= render 'layouts/header' %>
    
  <% if notice %>
  	<p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
		<p class="alert alert-danger"><%= alert %></p>
	<% end %>
	<%= yield %>

<!-- FIX ME -->
  <script>
  <% if current_user %>
    mixpanel.identify(<%= current_user.id %>);
    mixpanel.people.set(
      "$email": "<%= current_user.email %>", 
      "$name": "<%= full_name_of(current_user) %>", 
      "id": <%= current_user.id %>, 
      "$created": <%= current_user.created_at %>,
      "$set": {
        "recipes created": <%= current_user.recipes.count %>
      });
  <% end %>
  </script>
  <!-- END FIX ME -->

</body>
</html>
